.bg{
    background-color: #6B6B6B;
}
.nav-link{
    padding-left: 80px !important;
} 
.container, .container-lg, .container-md, .container-sm, .container-xl{
    --bs-gutter-x: 1.5rem;
    --bs-navbar-brand-margin-end: 300px;
    max-width: 1398px !important; 
}
.navbar-nav{
    align-items: center
}
.textoNav{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px !important;
    color: white;
}
.navbar-brand{
    margin-right: 0%;
}
.paddingCarrito{
    padding-left: 90px !important;
    
}
#dropdown-basic{
background-color: #6B6B6B;
border-color: #FBD416;
font-size: 20px;
}